<%= render 'following_list', locals: { following_users: @following_users } %>

<div>
  <%= link_to 'Back', root_path, class:"btn btn-primary" %>
</div>

<div>
  <%= link_to 'Follow Another user', searching_path %>
</div>

<%= will_paginate @following_users %>
