<% @users.each do |user| %>
  <% if current_user.id != user.id %>
    <div class="card">
      <div class="card-body">
        <p class="card-title">
        <%= gravatar_image_tag(user.email, size: 24, alt: user.name) %>
        </p>
        <p class="card-text">
          <strong><%= user.name %></strong><br/>
          <small>@<%= user.username %></small>
        </p>
        <%= render 'follow_button', user: user %>
      </div>
    </div>
  <% end %>
<% end %>
